/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block; /*Enlever l espace entre l image et le texte*/
}

ul {
  list-style: none;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  color: white;
}

body {
  padding: 0.5em;
}

.header {
  display: flex;
  margin-left: 1em;
  width: 100%;
  align-items: center;
}

.header {
  width: 50%;
  height: 5em;
}

.logo {
  height: 2em;
}

.titre {
  width: 50%;
  margin-left: auto;
}
.titre h1 {
  font-size: 1.1em;
  margin-left: 5em;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
}

main {
  min-height: 400px;
}
article {
  margin-top: 3em;
}

.img-participant {
  margin-left: 25%;
  margin-top: 1em;
}

footer {
  display: flex;
  justify-content: space-between;
}
footer a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.footer-services {
  flex-flow: wrap-reverse;
}

form {
  margin-left: 25%;
  width: 50%;
  border-style: solid;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

form h1 {
  font-size: 1em;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  margin-top: 1em;
}

.table {
  margin-top: 1em;
}

.boutton {
  display: flex;
  justify-content: center;
}

.btn {
  margin-right: 0.5em;
  width: 140px;
  height: 30px;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 100%;
}

.form-group input:focus,
.form-control:focus {
  color: green;
  border: 2px solid;
}
.form-control:focus::placeholder {
  color: green;
}

.formule {
  padding: 0.5em;
}

.description {
  margin-left: 1em;
}
